:root {
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Roboto', sans-serif;

  --color-primary: #4caf50;
  --color-secondary: #2e7d32;
  --color-neutral: #f5f5f5;
  --color-accent: #ff9800;
  --color-text: #212121;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-primary);
  font-size: 16px;
  color: var(--color-text);
  background-color: #F5F5F5;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--color-primary);
  text-align: center;
}

#count-el {
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--color-secondary);
  transition: transform 0.2s ease;
}

#count-el.increment {
  transform: scale(1.1);
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 2rem;
}

#increment-btn {
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  background-color: var(--color-primary);
  color: var(--color-neutral);
  font-size: 1.5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#increment-btn:hover {
  background-color: var(--color-secondary);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

#save-btn {
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  background-color: var(--color-accent);
  color: var(--color-neutral);
  font-size: 1.5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#save-btn:hover {
  background-color: #b97000;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

#save-el {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--color-accent);
}
